language: node_js

node_js:
  - "0.10"

branches:
  only:
    - master

before_script:
  - npm install -g grunt-cli
  - npm link
  - 'cd tests/files/my-blog'
  - 'npm link cuked-zombie && npm install'
  - cd ../../..


notifications:
  hipchat: 1fbdbbbaa517c485f935a6d72f1110@239240
